Variable: Storte the values
We check in a patient name John Swith
He is 20 years old
He is a new patient

In [ ]:
Patient_name=input('Enter the Patient name :')
Age=20

Enter the Patient name :John Smith

In [ ]:
print('His name is',Patient_name,'He is',str(Age),'years old')
print('He is a new patient')

His name is John Smith He is 20 years old
He is a new patient

Types of Datatypes:
1,2,3=numbers(int)
2.4=float(float)
True= boolean
"Character"= String(str)

Types Conversion:

In [ ]:
Birth_year=int(input('Enter your Birth_year: '))
age=2023-Birth_year
print(age)

Enter your Birth_year: 2001
22

In [ ]:
First=input('First: ')
Second=input('Second: ')
Sum=float(First)+float(Second)
print('The Sum of First and Second is',str(Sum))

First: 26.9
Second: 59.0
The Sum of First and Second is 85.9

STRINGS:

In [ ]:
Course='Python for Beginner'
print(Course.upper())
print(Course.lower())
print(Course.find('y'))
print(Course.replace('for','4'))

PYTHON FOR BEGINNER
python for beginner
1
Python 4 Beginner

Arithmetic Operator

In [ ]:
print(5+12)
print(5-12)
print(5*12)
print(5/12)
print(5//12)

17
-7
60
0.4166666666666667
0

In [ ]:
x=10
x=x+3
print(x)

13

In [ ]:
x=10
x+=3
print(x)

13

In [ ]:
x=10
x=x-3
print(x)

7

In [ ]:
x=10
x-=3
print(x)

In [41]:
x=10+3*5
print(x)
y=(10+3)*5
print(y)

25
65

COMPARISON OPERATORS:

In [46]:
x=3>8
print(x)
x=3<8
print(x)
x=3<=8
print(x)
x=3>=8
print(x)
x=3==8
print(x)
x=3!=8
print(x)

False
True
True
False
False
True

LOGICAL OPERATORS

In [48]:
price=25
print(price<45 and price>45)
print(price<45 or price>45)
print(not price>10)

False
True
False

IF STATEMENTS( use to take decision in python)

In [51]:
temp=int(input('Enter the temperature: '))
if temp>30:
  print("It's a hot day")
elif temp>20:
  print("It's a nice day")
elif temp>10:
  print("It's a bit cold")
else:
  print("It's a cold day")

Enter the temperature: 35
It's a hot day

EXERCISE:
Weight=170
weight in (K)gs or (L)bds:
weight in kgs is 76.5

In [55]:
Weight=int(input('Enter the weight: '))
unit=input('Enter the (K)g or (L)bs: ')
if unit.upper()=="K":
  converted=Weight/0.45
  print('Weight in (L)bs:'+str(converted))
else:
  converted=Weight*0.45
  print('Weight in (K)gs:'+str(converted))

Enter the weight: 180
Enter the (K)g or (L)bs: 200
Weight in (K)gs:81.0

WHILE LOOP: repeat the code multiple time

In [57]:
i=1
while i<=1_0:#(underscores is use for readable)
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [60]:
i=2
while i<=50:
  print(i*'*')
  i=i+5

**
*******
************
*****************
**********************
***************************
********************************
*************************************
******************************************
***********************************************

LIST

In [62]:
Names=["John","Bob","Mosh","Sam","Mary"]
print(Names[4]) # Which is called indexing: Fetching single element at a time
print(Names[0:4]) # Which is called slicing: Fetching multiple elements at the time

Mary
['John', 'Bob', 'Mosh', 'Sam']

In [65]:
print(Names[-2])
print(Names[-1:-5])

Sam
[]

List Methods:

In [80]:
N=[1,2,3,4,5]
a=N.append(6)
print(a)
b=N.insert(0,-1)
print(b)
c=N.remove(3)
print(c)
print(1 in N)
print(len(N))

None
None
None
True
6

For loops: Short and easy to understand than the while loop.

In [83]:
Number=[1,3,4,5,6,7,8]
for item in Number:
  print(item)

1
3
4
5
6
7
8

RANGE() FUNCTION: use to generate the sequence function/ can store the sequence object.

In [84]:
for i in range(0,50,5):
  print(i)

0
5
10
15
20
25
30
35
40
45

Tuples: cannot change once we create them.
We will use the list most of the time and avoid the tuples since it is immutable in nature only use when we don't want to change in future.